extends user-dashboard 

block content
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='/stylesheets/message.css')
  

  section.container--group
    .container--group-title
      h1.heading-primary #{group.name}
      span.space
      svg.icon(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor')
        path(stroke-linecap='round' stroke-linejoin='round' d='M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z')
    hr.line
    .container--group-messages
    
      -for(let i = 0;i<group.messages.length;i++) {
      
        .msg.user
        .msg-img.image-box
          img.img-individual.image(src='/images/ico_twitter.png')
        .msg-text
          .msg-text--description.heading-secondary
            | #{(group.messages)[i].subject}
            svg.icon(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor')
              path(stroke-linecap='round' stroke-linejoin='round' d='M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z')
          if allTransactions
            each transaction in allTransactions[i] 
              .msg-text--individual.paid
                .msg-text--individual-name #{transaction.reciever.name}
                .msg-text--individual-money #{transaction.amount}
                if (group.messages)[i].sender == transaction.reciever._id
                  button.msg-text--individual-btn.paid.btn #{transaction.status} 
                else if transaction.status === "Pending"
                  if (transaction.reciever._id.equals(user._id))
                    button.msg-text--individual-btn.pay.btn  #{transaction.status}
                    form(method = "POST" action=`/users/${user.userid}/transactions/${transaction._id}/pay`) 
                        button.pay-button(type="submit") Pay
                  else 
                    button.msg-text--individual-btn.pay.btn #{transaction.status}
                else 
                  button.msg-text--individual-btn.paid.btn #{transaction.status}
              hr.line
      -} 
        //- .msg.user
        //- .msg-img.image-box
        //-   img.img-individual.image(src='/images/ico_twitter.png')
        //- .msg-text
        //-   .msg-text--description.heading-secondary
        //-     | #{message.subject}
        //-     svg.icon(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor')
        //-       path(stroke-linecap='round' stroke-linejoin='round' d='M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z')
        //-   each transaction in allTransactions[0] 
        //-     .msg-text--individual.paid
        //-       .msg-text--individual-name 
        //-       .msg-text--individual-money 
        //-       button.msg-text--individual-btn.paid.btn #{transaction.status}
            //- hr.line
          //- .msg-text--individual.paid
          //-   .msg-text--individual-name Individual 2
          //-   .msg-text--individual-money
          //-   button.msg-text--individual-btn.paid.btn paid
          //- hr.line
          //- .msg-text--individual.paid
          //-   .msg-text--individual-name Individual 3
          //-   .msg-text--individual-money
          //-   button.msg-text--individual-btn.paid.btn.btn paid
          //- hr.line
          //- .msg-text--individual.paid
          //-   .msg-text--individual-name Individual 4
          //-   .msg-text--individual-money
          //-   button.msg-text--individual-btn.paid.btn paid
          //- hr.line
    .container--group-request
      .container--group-request-message
        form.container--group-message-box
          input.message--field(type='text' placeholder='Enter The Amount to Split')
          button.btn-send
            ion-icon.icon-send(name='paper-plane-outline')
      button.btn-request
        span.message-box &#x20B9; Request
  .modal.hidden
    .modal-group Group Name
    form.modal-input(method="POST" action=`/users/${user.userid}/groups/group/${group._id}/createmsg`)
      input.modal-description(type='description--field' placeholder='Description' name="subject" required="true")
      
      each member in group.members 
        .modal-individual-input
          span(for="members") #{member.name} :
          input.input--field(type="number" placeholder="0" name="money[]")
        //input.input--field(type='text' placeholder='Individual-name')
        //input.input--field(type='text' placeholder='Individual-money')
      //.modal-individual-input
        input.input--field(type='text' placeholder='Individual-name')
        input.input--field(type='text' placeholder='Individual-money')
      //.modal-individual-input
        input.input--field(type='text' placeholder='Individual-name')
        input.input--field(type='text' placeholder='Individual-money')
      //.modal-individual-input
        input.input--field(type='text' placeholder='Individual-name')
        input.input--field(type='text' placeholder='Individual-money')
      
      button.btn-modal(type = "submit")
        span.message-box Request
    button.btn-cancel 
      span.message-box Cancel
  
  script(src='/javascripts/request.js')
  script(type='module' src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js')
  script(nomodule='' src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js')
